<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>JouwWoordklok</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="JouwWoordklok Control Panel">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
  <style>
    .IroColorPicker {
      display: flex !important;
      flex-direction: column;
      align-items: center;
    }

    .settings {
      height: 0px;
      transition: height 0.5s;
      overflow: hidden;
    }

    .settings.show {
      height: 320px;
    }
    .mode-link a:hover img {
      transform: scale(1.1);
    }
    .mode-link[disabled] {
      opacity: 0.3;
    }
    .mode-link img {
      width: 50px;
      height: 50px;
      transition: transform 0.2s;
      transform-origin: center;
      display: inline-block;
    }
    .mode-link.is-active {
      font-weight: bold;
    }
    .mode-link.is-active img{
      transform: scale(1.2) !important;
    }
  </style>
</head>

<body class="has-background-white-ter" style="min-height:100vh">
  <div id="app" style="max-width: 500px;" class="mx-auto has-background-white">
    <section class="section pt-2">
      <div class="container">
        <div class="is-flex is-justify-content-space-between is-align-items-center">
          <img src="/img/logo.png" width="250" />
          <a @click="showSettings = !showSettings"><img src="/img/settings.svg" style="height:30px" /></a>
        </div>
        <form @submit.prevent="saveSettings" class="settings" :class="{'show': showSettings}">
          <div class="mt-2">
            <div>Helderheid <span v-if="nm">overdag</span>: <b v-if="brightness === null || loadingBrightness || loadingSettings">...</b><b v-else>{{Math.ceil(brightness/255 * 100)}}%</b></div>
            <input :disabled="brightness === null || loadingBrightness || loadingSettings ? 'disabled' : null" @change="saveBrightness()" style="width:100%; height: 30px;" list="values" v-model="brightness" type="range" id="brightness" name="brightness" min="1" max="255">
          </div>
          <div class="is-flex is-justify-content-space-between is-align-items-center py-2">
            <label for="nm" class="is-flex-grow-1">Nachtmodus: <b>{{nm ? 'aan' : 'uit'}}</b></label>
            <input class="checkbox" type="checkbox" id="nm" name="nm" v-model="nm">
          </div>
          <div class="is-flex is-justify-content-space-between is-align-items-center pb-2">
            <div>
              <label class="is-flex-grow-1" for="nm_start" :class="{'has-text-grey': !nm}">start tijd: </label>
              <input :required="nm" v-model="nm_start" :disabled="!nm" type="time" id="nm_start" name="nm_start" min="00:00"
                max="23:59">
            </div>
            <div>
              <label class="is-flex-grow-1" for="nm_end" :class="{'has-text-grey': !nm}">eind tijd: </label>
              <input :required="nm" v-model="nm_end" :disabled="!nm" type="time" id="nm_end" name="nm_end" min="00:00" max="23:59">
            </div>
          </div>
          <div class="mt-2">
            <div :class="{'has-text-grey': !nm}">Helderheid 's nachts: <b v-if="nightmodeBrightness=== null || loadingBrightness || loadingSettings">...</b><b v-else>{{Math.ceil(nightmodeBrightness/255 * 100)}}%</b></div>
            <input :disabled="!nm || nightmodeBrightness === null || loadingBrightness || loadingSettings ? 'disabled' : null" @change="saveBrightness(true)" style="width:100%; height: 30px;" list="values" v-model="nightmodeBrightness" type="range" id="nm_brightness" name="nm_brightness" min="0" max="255">
          </div>
          <div class="is-flex is-justify-content-space-between is-align-items-center py-2">
            <label for="timezone" class="is-flex-grow-1">Timezone:</label>
            <select id="timezone" v-model="timezone" class="is-flex-grow-1">
              <option value="GMT0_0">Africa/Abidjan</option>
              <option value="GMT0_1">Africa/Accra</option>
              <option value="EAT-3_0">Africa/Addis_Ababa</option>
              <option value="CET-1_0">Africa/Algiers</option>
              <option value="EAT-3_1">Africa/Asmara</option>
              <option value="GMT0_2">Africa/Bamako</option>
              <option value="WAT-1_0">Africa/Bangui</option>
              <option value="GMT0_3">Africa/Banjul</option>
              <option value="GMT0_4">Africa/Bissau</option>
              <option value="CAT-2_0">Africa/Blantyre</option>
              <option value="WAT-1_1">Africa/Brazzaville</option>
              <option value="CAT-2_1">Africa/Bujumbura</option>
              <option value="EET-2_0">Africa/Cairo</option>
              <option value="<+01>-1_0">Africa/Casablanca</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_0">Africa/Ceuta</option>
              <option value="GMT0_5">Africa/Conakry</option>
              <option value="GMT0_6">Africa/Dakar</option>
              <option value="EAT-3_2">Africa/Dar_es_Salaam</option>
              <option value="EAT-3_3">Africa/Djibouti</option>
              <option value="WAT-1_2">Africa/Douala</option>
              <option value="<+01>-1_1">Africa/El_Aaiun</option>
              <option value="GMT0_7">Africa/Freetown</option>
              <option value="CAT-2_2">Africa/Gaborone</option>
              <option value="CAT-2_3">Africa/Harare</option>
              <option value="SAST-2_0">Africa/Johannesburg</option>
              <option value="CAT-2_4">Africa/Juba</option>
              <option value="EAT-3_4">Africa/Kampala</option>
              <option value="CAT-2_5">Africa/Khartoum</option>
              <option value="CAT-2_6">Africa/Kigali</option>
              <option value="WAT-1_3">Africa/Kinshasa</option>
              <option value="WAT-1_4">Africa/Lagos</option>
              <option value="WAT-1_5">Africa/Libreville</option>
              <option value="GMT0_8">Africa/Lome</option>
              <option value="WAT-1_6">Africa/Luanda</option>
              <option value="CAT-2_7">Africa/Lubumbashi</option>
              <option value="CAT-2_8">Africa/Lusaka</option>
              <option value="WAT-1_7">Africa/Malabo</option>
              <option value="CAT-2_9">Africa/Maputo</option>
              <option value="SAST-2_1">Africa/Maseru</option>
              <option value="SAST-2_2">Africa/Mbabane</option>
              <option value="EAT-3_5">Africa/Mogadishu</option>
              <option value="GMT0_9">Africa/Monrovia</option>
              <option value="EAT-3_6">Africa/Nairobi</option>
              <option value="WAT-1_8">Africa/Ndjamena</option>
              <option value="WAT-1_9">Africa/Niamey</option>
              <option value="GMT0_10">Africa/Nouakchott</option>
              <option value="GMT0_11">Africa/Ouagadougou</option>
              <option value="WAT-1_10">Africa/Porto-Novo</option>
              <option value="GMT0_12">Africa/Sao_Tome</option>
              <option value="EET-2_1">Africa/Tripoli</option>
              <option value="CET-1_1">Africa/Tunis</option>
              <option value="CAT-2_10">Africa/Windhoek</option>
              <option value="HST10HDT,M3.2.0,M11.1.0_0">America/Adak</option>
              <option value="AKST9AKDT,M3.2.0,M11.1.0_0">America/Anchorage</option>
              <option value="AST4_0">America/Anguilla</option>
              <option value="AST4_1">America/Antigua</option>
              <option value="<+03>3_0">America/Araguaina</option>
              <option value="<+03>3_1">America/Argentina/Buenos_Aires</option>
              <option value="<+03>3_2">America/Argentina/Catamarca</option>
              <option value="<+03>3_3">America/Argentina/Cordoba</option>
              <option value="<+03>3_4">America/Argentina/Jujuy</option>
              <option value="<+03>3_5">America/Argentina/La_Rioja</option>
              <option value="<+03>3_6">America/Argentina/Mendoza</option>
              <option value="<+03>3_7">America/Argentina/Rio_Gallegos</option>
              <option value="<+03>3_8">America/Argentina/Salta</option>
              <option value="<+03>3_9">America/Argentina/San_Juan</option>
              <option value="<+03>3_10">America/Argentina/San_Luis</option>
              <option value="<+03>3_11">America/Argentina/Tucuman</option>
              <option value="<+03>3_12">America/Argentina/Ushuaia</option>
              <option value="AST4_2">America/Aruba</option>
              <option value="<+04>4<+03>,M10.1.0/0,M3.4.0/0_0">America/Asuncion</option>
              <option value="EST5_0">America/Atikokan</option>
              <option value="<+03>3_13">America/Bahia</option>
              <option value="CST6_0">America/Bahia_Banderas</option>
              <option value="AST4_3">America/Barbados</option>
              <option value="<+03>3_14">America/Belem</option>
              <option value="CST6_1">America/Belize</option>
              <option value="AST4_4">America/Blanc-Sablon</option>
              <option value="<+04>4_0">America/Boa_Vista</option>
              <option value="<+05>5_0">America/Bogota</option>
              <option value="MST7MDT,M3.2.0,M11.1.0_0">America/Boise</option>
              <option value="MST7MDT,M3.2.0,M11.1.0_1">America/Cambridge_Bay</option>
              <option value="<+04>4_1">America/Campo_Grande</option>
              <option value="EST5_1">America/Cancun</option>
              <option value="<+04>4_2">America/Caracas</option>
              <option value="<+03>3_15">America/Cayenne</option>
              <option value="EST5_2">America/Cayman</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_0">America/Chicago</option>
              <option value="CST6_2">America/Chihuahua</option>
              <option value="CST6_3">America/Costa_Rica</option>
              <option value="MST7_0">America/Creston</option>
              <option value="<+04>4_3">America/Cuiaba</option>
              <option value="AST4_5">America/Curacao</option>
              <option value="GMT0_13">America/Danmarkshavn</option>
              <option value="MST7_1">America/Dawson</option>
              <option value="MST7_2">America/Dawson_Creek</option>
              <option value="MST7MDT,M3.2.0,M11.1.0_2">America/Denver</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_0">America/Detroit</option>
              <option value="AST4_6">America/Dominica</option>
              <option value="MST7MDT,M3.2.0,M11.1.0_3">America/Edmonton</option>
              <option value="<+05>5_1">America/Eirunepe</option>
              <option value="CST6_4">America/El_Salvador</option>
              <option value="MST7_3">America/Fort_Nelson</option>
              <option value="<+03>3_16">America/Fortaleza</option>
              <option value="AST4ADT,M3.2.0,M11.1.0_0">America/Glace_Bay</option>
              <option value="<+02>2_0">America/Godthab</option>
              <option value="AST4ADT,M3.2.0,M11.1.0_1">America/Goose_Bay</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_1">America/Grand_Turk</option>
              <option value="AST4_7">America/Grenada</option>
              <option value="AST4_8">America/Guadeloupe</option>
              <option value="CST6_5">America/Guatemala</option>
              <option value="<+05>5_2">America/Guayaquil</option>
              <option value="<+04>4_4">America/Guyana</option>
              <option value="AST4ADT,M3.2.0,M11.1.0_2">America/Halifax</option>
              <option value="CST5CDT,M3.2.0/0,M11.1.0/1_0">America/Havana</option>
              <option value="MST7_4">America/Hermosillo</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_2">America/Indiana/Indianapolis</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_1">America/Indiana/Knox</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_3">America/Indiana/Marengo</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_4">America/Indiana/Petersburg</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_2">America/Indiana/Tell_City</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_5">America/Indiana/Vevay</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_6">America/Indiana/Vincennes</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_7">America/Indiana/Winamac</option>
              <option value="MST7MDT,M3.2.0,M11.1.0_4">America/Inuvik</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_8">America/Iqaluit</option>
              <option value="EST5_3">America/Jamaica</option>
              <option value="AKST9AKDT,M3.2.0,M11.1.0_1">America/Juneau</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_9">America/Kentucky/Louisville</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_10">America/Kentucky/Monticello</option>
              <option value="AST4_9">America/Kralendijk</option>
              <option value="<+04>4_5">America/La_Paz</option>
              <option value="<+05>5_3">America/Lima</option>
              <option value="PST8PDT,M3.2.0,M11.1.0_0">America/Los_Angeles</option>
              <option value="AST4_10">America/Lower_Princes</option>
              <option value="<+03>3_17">America/Maceio</option>
              <option value="CST6_6">America/Managua</option>
              <option value="<+04>4_6">America/Manaus</option>
              <option value="AST4_11">America/Marigot</option>
              <option value="AST4_12">America/Martinique</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_3">America/Matamoros</option>
              <option value="MST7_5">America/Mazatlan</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_4">America/Menominee</option>
              <option value="CST6_7">America/Merida</option>
              <option value="AKST9AKDT,M3.2.0,M11.1.0_2">America/Metlakatla</option>
              <option value="CST6_8">America/Mexico_City</option>
              <option value="<+03>3<+02>,M3.2.0,M11.1.0_0">America/Miquelon</option>
              <option value="AST4ADT,M3.2.0,M11.1.0_3">America/Moncton</option>
              <option value="CST6_9">America/Monterrey</option>
              <option value="<+03>3_18">America/Montevideo</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_11">America/Montreal</option>
              <option value="AST4_13">America/Montserrat</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_12">America/Nassau</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_13">America/New_York</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_14">America/Nipigon</option>
              <option value="AKST9AKDT,M3.2.0,M11.1.0_3">America/Nome</option>
              <option value="<+02>2_1">America/Noronha</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_5">America/North_Dakota/Beulah</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_6">America/North_Dakota/Center</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_7">America/North_Dakota/New_Salem</option>
              <option value="<+02>2_2">America/Nuuk</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_8">America/Ojinaga</option>
              <option value="EST5_4">America/Panama</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_15">America/Pangnirtung</option>
              <option value="<+03>3_19">America/Paramaribo</option>
              <option value="MST7_6">America/Phoenix</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_16">America/Port-au-Prince</option>
              <option value="AST4_14">America/Port_of_Spain</option>
              <option value="<+04>4_7">America/Porto_Velho</option>
              <option value="AST4_15">America/Puerto_Rico</option>
              <option value="<+03>3_20">America/Punta_Arenas</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_9">America/Rainy_River</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_10">America/Rankin_Inlet</option>
              <option value="<+03>3_21">America/Recife</option>
              <option value="CST6_10">America/Regina</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_11">America/Resolute</option>
              <option value="<+05>5_4">America/Rio_Branco</option>
              <option value="<+03>3_22">America/Santarem</option>
              <option value="<+04>4<+03>,M9.1.6/24,M4.1.6/24_0">America/Santiago</option>
              <option value="AST4_16">America/Santo_Domingo</option>
              <option value="<+03>3_23">America/Sao_Paulo</option>
              <option value="<+01>1<+00>,M3.5.0/0,M10.5.0/1_0">America/Scoresbysund</option>
              <option value="AKST9AKDT,M3.2.0,M11.1.0_4">America/Sitka</option>
              <option value="AST4_17">America/St_Barthelemy</option>
              <option value="NST3:30NDT,M3.2.0,M11.1.0_0">America/St_Johns</option>
              <option value="AST4_18">America/St_Kitts</option>
              <option value="AST4_19">America/St_Lucia</option>
              <option value="AST4_20">America/St_Thomas</option>
              <option value="AST4_21">America/St_Vincent</option>
              <option value="CST6_11">America/Swift_Current</option>
              <option value="CST6_12">America/Tegucigalpa</option>
              <option value="AST4ADT,M3.2.0,M11.1.0_4">America/Thule</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_17">America/Thunder_Bay</option>
              <option value="PST8PDT,M3.2.0,M11.1.0_1">America/Tijuana</option>
              <option value="EST5EDT,M3.2.0,M11.1.0_18">America/Toronto</option>
              <option value="AST4_22">America/Tortola</option>
              <option value="PST8PDT,M3.2.0,M11.1.0_2">America/Vancouver</option>
              <option value="MST7_7">America/Whitehorse</option>
              <option value="CST6CDT,M3.2.0,M11.1.0_12">America/Winnipeg</option>
              <option value="AKST9AKDT,M3.2.0,M11.1.0_5">America/Yakutat</option>
              <option value="MST7MDT,M3.2.0,M11.1.0_5">America/Yellowknife</option>
              <option value="<+11>-11_0">Antarctica/Casey</option>
              <option value="<+07>-7_0">Antarctica/Davis</option>
              <option value="<+10>-10_0">Antarctica/DumontDUrville</option>
              <option value="AEST-10AEDT,M10.1.0,M4.1.0/3_0">Antarctica/Macquarie</option>
              <option value="<+05>-5_0">Antarctica/Mawson</option>
              <option value="NZST-12NZDT,M9.5.0,M4.1.0/3_0">Antarctica/McMurdo</option>
              <option value="<+03>3_24">Antarctica/Palmer</option>
              <option value="<+03>3_25">Antarctica/Rothera</option>
              <option value="<+03>-3_0">Antarctica/Syowa</option>
              <option value="<+00>0<+02>-2,M3.5.0/1,M10.5.0/3_0">Antarctica/Troll</option>
              <option value="<+06>-6_0">Antarctica/Vostok</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_1">Arctic/Longyearbyen</option>
              <option value="<+03>-3_1">Asia/Aden</option>
              <option value="<+06>-6_1">Asia/Almaty</option>
              <option value="<+03>-3_2">Asia/Amman</option>
              <option value="<+12>-12_0">Asia/Anadyr</option>
              <option value="<+05>-5_1">Asia/Aqtau</option>
              <option value="<+05>-5_2">Asia/Aqtobe</option>
              <option value="<+05>-5_3">Asia/Ashgabat</option>
              <option value="<+05>-5_4">Asia/Atyrau</option>
              <option value="<+03>-3_3">Asia/Baghdad</option>
              <option value="<+03>-3_4">Asia/Bahrain</option>
              <option value="<+04>-4_0">Asia/Baku</option>
              <option value="<+07>-7_1">Asia/Bangkok</option>
              <option value="<+07>-7_2">Asia/Barnaul</option>
              <option value="EET-2EEST,M3.5.0/0,M10.5.0/0_0">Asia/Beirut</option>
              <option value="<+06>-6_2">Asia/Bishkek</option>
              <option value="<+08>-8_0">Asia/Brunei</option>
              <option value="<+09>-9_0">Asia/Chita</option>
              <option value="<+08>-8_1">Asia/Choibalsan</option>
              <option value="<+0530>-5:30_0">Asia/Colombo</option>
              <option value="<+03>-3_5">Asia/Damascus</option>
              <option value="<+06>-6_3">Asia/Dhaka</option>
              <option value="<+09>-9_1">Asia/Dili</option>
              <option value="<+04>-4_1">Asia/Dubai</option>
              <option value="<+05>-5_5">Asia/Dushanbe</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_0">Asia/Famagusta</option>
              <option value="EET-2EEST,M3.4.4/50,M10.4.4/50_0">Asia/Gaza</option>
              <option value="EET-2EEST,M3.4.4/50,M10.4.4/50_1">Asia/Hebron</option>
              <option value="<+07>-7_3">Asia/Ho_Chi_Minh</option>
              <option value="HKT-8_0">Asia/Hong_Kong</option>
              <option value="<+07>-7_4">Asia/Hovd</option>
              <option value="<+08>-8_2">Asia/Irkutsk</option>
              <option value="WIB-7_0">Asia/Jakarta</option>
              <option value="WIT-9_0">Asia/Jayapura</option>
              <option value="IST-2IDT,M3.4.4/26,M10.5.0_0">Asia/Jerusalem</option>
              <option value="<+0430>-4:30_0">Asia/Kabul</option>
              <option value="<+12>-12_1">Asia/Kamchatka</option>
              <option value="PKT-5_0">Asia/Karachi</option>
              <option value="<+0545>-5:45_0">Asia/Kathmandu</option>
              <option value="<+09>-9_2">Asia/Khandyga</option>
              <option value="IST-5:30_0">Asia/Kolkata</option>
              <option value="<+07>-7_5">Asia/Krasnoyarsk</option>
              <option value="<+08>-8_3">Asia/Kuala_Lumpur</option>
              <option value="<+08>-8_4">Asia/Kuching</option>
              <option value="<+03>-3_6">Asia/Kuwait</option>
              <option value="CST-8_0">Asia/Macau</option>
              <option value="<+11>-11_1">Asia/Magadan</option>
              <option value="WITA-8_0">Asia/Makassar</option>
              <option value="PST-8_0">Asia/Manila</option>
              <option value="<+04>-4_2">Asia/Muscat</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_1">Asia/Nicosia</option>
              <option value="<+07>-7_6">Asia/Novokuznetsk</option>
              <option value="<+07>-7_7">Asia/Novosibirsk</option>
              <option value="<+06>-6_4">Asia/Omsk</option>
              <option value="<+05>-5_6">Asia/Oral</option>
              <option value="<+07>-7_8">Asia/Phnom_Penh</option>
              <option value="WIB-7_1">Asia/Pontianak</option>
              <option value="KST-9_0">Asia/Pyongyang</option>
              <option value="<+03>-3_7">Asia/Qatar</option>
              <option value="<+05>-5_7">Asia/Qyzylorda</option>
              <option value="<+03>-3_8">Asia/Riyadh</option>
              <option value="<+11>-11_2">Asia/Sakhalin</option>
              <option value="<+05>-5_8">Asia/Samarkand</option>
              <option value="KST-9_1">Asia/Seoul</option>
              <option value="CST-8_1">Asia/Shanghai</option>
              <option value="<+08>-8_5">Asia/Singapore</option>
              <option value="<+11>-11_3">Asia/Srednekolymsk</option>
              <option value="CST-8_2">Asia/Taipei</option>
              <option value="<+05>-5_9">Asia/Tashkent</option>
              <option value="<+04>-4_3">Asia/Tbilisi</option>
              <option value="<+0330>-3:30_0">Asia/Tehran</option>
              <option value="<+06>-6_5">Asia/Thimphu</option>
              <option value="JST-9_0">Asia/Tokyo</option>
              <option value="<+07>-7_9">Asia/Tomsk</option>
              <option value="<+08>-8_6">Asia/Ulaanbaatar</option>
              <option value="<+06>-6_6">Asia/Urumqi</option>
              <option value="<+10>-10_1">Asia/Ust-Nera</option>
              <option value="<+07>-7_10">Asia/Vientiane</option>
              <option value="<+10>-10_2">Asia/Vladivostok</option>
              <option value="<+09>-9_3">Asia/Yakutsk</option>
              <option value="<+0630>-6:30_0">Asia/Yangon</option>
              <option value="<+05>-5_10">Asia/Yekaterinburg</option>
              <option value="<+04>-4_4">Asia/Yerevan</option>
              <option value="<+01>1<+00>,M3.5.0/0,M10.5.0/1_1">Atlantic/Azores</option>
              <option value="AST4ADT,M3.2.0,M11.1.0_5">Atlantic/Bermuda</option>
              <option value="WET0WEST,M3.5.0/1,M10.5.0_0">Atlantic/Canary</option>
              <option value="<+01>1_0">Atlantic/Cape_Verde</option>
              <option value="WET0WEST,M3.5.0/1,M10.5.0_1">Atlantic/Faroe</option>
              <option value="WET0WEST,M3.5.0/1,M10.5.0_2">Atlantic/Madeira</option>
              <option value="GMT0_14">Atlantic/Reykjavik</option>
              <option value="<+02>2_3">Atlantic/South_Georgia</option>
              <option value="GMT0_15">Atlantic/St_Helena</option>
              <option value="<+03>3_26">Atlantic/Stanley</option>
              <option value="ACST-9:30ACDT,M10.1.0,M4.1.0/3_0">Australia/Adelaide</option>
              <option value="AEST-10_0">Australia/Brisbane</option>
              <option value="ACST-9:30ACDT,M10.1.0,M4.1.0/3_1">Australia/Broken_Hill</option>
              <option value="AEST-10AEDT,M10.1.0,M4.1.0/3_1">Australia/Currie</option>
              <option value="ACST-9:30_0">Australia/Darwin</option>
              <option value="<+0845>-8:45_0">Australia/Eucla</option>
              <option value="AEST-10AEDT,M10.1.0,M4.1.0/3_2">Australia/Hobart</option>
              <option value="AEST-10_1">Australia/Lindeman</option>
              <option value="<+1030>-10:30<+11>-11,M10.1.0,M4.1.0_0">Australia/Lord_Howe</option>
              <option value="AEST-10AEDT,M10.1.0,M4.1.0/3_3">Australia/Melbourne</option>
              <option value="AWST-8_0">Australia/Perth</option>
              <option value="AEST-10AEDT,M10.1.0,M4.1.0/3_4">Australia/Sydney</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_2">Europe/Amsterdam</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_3">Europe/Andorra</option>
              <option value="<+04>-4_5">Europe/Astrakhan</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_2">Europe/Athens</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_4">Europe/Belgrade</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_5">Europe/Berlin</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_6">Europe/Bratislava</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_7">Europe/Brussels</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_3">Europe/Bucharest</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_8">Europe/Budapest</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_9">Europe/Busingen</option>
              <option value="EET-2EEST,M3.5.0,M10.5.0/3_0">Europe/Chisinau</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_10">Europe/Copenhagen</option>
              <option value="IST-1GMT0,M10.5.0,M3.5.0/1_0">Europe/Dublin</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_11">Europe/Gibraltar</option>
              <option value="GMT0BST,M3.5.0/1,M10.5.0_0">Europe/Guernsey</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_4">Europe/Helsinki</option>
              <option value="GMT0BST,M3.5.0/1,M10.5.0_1">Europe/Isle_of_Man</option>
              <option value="<+03>-3_9">Europe/Istanbul</option>
              <option value="GMT0BST,M3.5.0/1,M10.5.0_2">Europe/Jersey</option>
              <option value="EET-2_2">Europe/Kaliningrad</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_5">Europe/Kiev</option>
              <option value="<+03>-3_10">Europe/Kirov</option>
              <option value="WET0WEST,M3.5.0/1,M10.5.0_3">Europe/Lisbon</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_12">Europe/Ljubljana</option>
              <option value="GMT0BST,M3.5.0/1,M10.5.0_3">Europe/London</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_13">Europe/Luxembourg</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_14">Europe/Madrid</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_15">Europe/Malta</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_6">Europe/Mariehamn</option>
              <option value="<+03>-3_11">Europe/Minsk</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_16">Europe/Monaco</option>
              <option value="MSK-3_0">Europe/Moscow</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_17">Europe/Oslo</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_18">Europe/Paris</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_19">Europe/Podgorica</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_20">Europe/Prague</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_7">Europe/Riga</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_21">Europe/Rome</option>
              <option value="<+04>-4_6">Europe/Samara</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_22">Europe/San_Marino</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_23">Europe/Sarajevo</option>
              <option value="<+04>-4_7">Europe/Saratov</option>
              <option value="MSK-3_1">Europe/Simferopol</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_24">Europe/Skopje</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_8">Europe/Sofia</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_25">Europe/Stockholm</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_9">Europe/Tallinn</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_26">Europe/Tirane</option>
              <option value="<+04>-4_8">Europe/Ulyanovsk</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_10">Europe/Uzhgorod</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_27">Europe/Vaduz</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_28">Europe/Vatican</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_29">Europe/Vienna</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_11">Europe/Vilnius</option>
              <option value="<+03>-3_12">Europe/Volgograd</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_30">Europe/Warsaw</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_31">Europe/Zagreb</option>
              <option value="EET-2EEST,M3.5.0/3,M10.5.0/4_12">Europe/Zaporozhye</option>
              <option value="CET-1CEST,M3.5.0,M10.5.0/3_32">Europe/Zurich</option>
              <option value="EAT-3_7">Indian/Antananarivo</option>
              <option value="<+06>-6_7">Indian/Chagos</option>
              <option value="<+07>-7_11">Indian/Christmas</option>
              <option value="<+0630>-6:30_1">Indian/Cocos</option>
              <option value="EAT-3_8">Indian/Comoro</option>
              <option value="<+05>-5_11">Indian/Kerguelen</option>
              <option value="<+04>-4_9">Indian/Mahe</option>
              <option value="<+05>-5_12">Indian/Maldives</option>
              <option value="<+04>-4_10">Indian/Mauritius</option>
              <option value="EAT-3_9">Indian/Mayotte</option>
              <option value="<+04>-4_11">Indian/Reunion</option>
              <option value="<+13>-13_0">Pacific/Apia</option>
              <option value="NZST-12NZDT,M9.5.0,M4.1.0/3_1">Pacific/Auckland</option>
              <option value="<+11>-11_4">Pacific/Bougainville</option>
              <option value="<+1245>-12:45<+1345>,M9.5.0/2:45,M4.1.0/3:45_0">Pacific/Chatham</option>
              <option value="<+10>-10_3">Pacific/Chuuk</option>
              <option value="<+06>6<+05>,M9.1.6/22,M4.1.6/22_0">Pacific/Easter</option>
              <option value="<+11>-11_5">Pacific/Efate</option>
              <option value="<+13>-13_1">Pacific/Enderbury</option>
              <option value="<+13>-13_2">Pacific/Fakaofo</option>
              <option value="<+12>-12_2">Pacific/Fiji</option>
              <option value="<+12>-12_3">Pacific/Funafuti</option>
              <option value="<+06>6_0">Pacific/Galapagos</option>
              <option value="<+09>-9_4">Pacific/Gambier</option>
              <option value="<+11>-11_6">Pacific/Guadalcanal</option>
              <option value="ChST-10_0">Pacific/Guam</option>
              <option value="HST10_0">Pacific/Honolulu</option>
              <option value="<+14>-14_0">Pacific/Kiritimati</option>
              <option value="<+11>-11_7">Pacific/Kosrae</option>
              <option value="<+12>-12_4">Pacific/Kwajalein</option>
              <option value="<+12>-12_5">Pacific/Majuro</option>
              <option value="<+0930>9:30_0">Pacific/Marquesas</option>
              <option value="SST11_0">Pacific/Midway</option>
              <option value="<+12>-12_6">Pacific/Nauru</option>
              <option value="<+11>-11<+12>,M10.1.0,M4.1.0/3_0">Pacific/Norfolk</option>
              <option value="<+11>-11_8">Pacific/Noumea</option>
              <option value="SST11_1">Pacific/Pago_Pago</option>
              <option value="<+09>-9_5">Pacific/Palau</option>
              <option value="<+08>8_0">Pacific/Pitcairn</option>
              <option value="<+11>-11_9">Pacific/Pohnpei</option>
              <option value="<+10>-10_4">Pacific/Port_Moresby</option>
              <option value="<+10>10_0">Pacific/Rarotonga</option>
              <option value="ChST-10_1">Pacific/Saipan</option>
              <option value="<+10>10_1">Pacific/Tahiti</option>
              <option value="<+12>-12_7">Pacific/Tarawa</option>
              <option value="<+13>-13_3">Pacific/Tongatapu</option>
              <option value="<+12>-12_8">Pacific/Wake</option>
              <option value="<+12>-12_9">Pacific/Wallis</option>
              <option value="GMT0_16">Etc/GMT</option>
              <option value="GMT0_17">Etc/GMT+0</option>
              <option value="<+01>-1_2">Etc/GMT+1</option>
              <option value="<+02>-2_0">Etc/GMT+2</option>
              <option value="<+03>-3_13">Etc/GMT+3</option>
              <option value="<+04>-4_12">Etc/GMT+4</option>
              <option value="<+05>-5_13">Etc/GMT+5</option>
              <option value="<+06>-6_8">Etc/GMT+6</option>
              <option value="<+07>-7_12">Etc/GMT+7</option>
              <option value="<+08>-8_7">Etc/GMT+8</option>
              <option value="<+09>-9_6">Etc/GMT+9</option>
              <option value="<+10>-10_5">Etc/GMT+10</option>
              <option value="<+11>-11_10">Etc/GMT+11</option>
              <option value="<+12>-12_10">Etc/GMT+12</option>
              <option value="<+13>-13_4">Etc/GMT+13</option>
              <option value="<+14>-14_1">Etc/GMT+14</option>
              <option value="GMT0_18">Etc/GMT-0</option>
              <option value="<+01>1_1">Etc/GMT-1</option>
              <option value="<+02>2_4">Etc/GMT-2</option>
              <option value="<+03>3_27">Etc/GMT-3</option>
              <option value="<+04>4_8">Etc/GMT-4</option>
              <option value="<+05>5_5">Etc/GMT-5</option>
              <option value="<+06>6_1">Etc/GMT-6</option>
              <option value="<+07>7_0">Etc/GMT-7</option>
              <option value="<+08>8_1">Etc/GMT-8</option>
              <option value="<+09>9_0">Etc/GMT-9</option>
              <option value="<+10>10_2">Etc/GMT-10</option>
              <option value="<+11>11_0">Etc/GMT-11</option>
              <option value="<+12>12_0">Etc/GMT-12</option>
              <option value="UTC0_0">Etc/UCT</option>
              <option value="UTC0_1">Etc/UTC</option>
              <option value="GMT0_19">Etc/Greenwich</option>
              <option value="UTC0_2">Etc/Universal</option>
              <option value="UTC0_3">Etc/Zulu</option>
            </select>
          </div>
          <small class="is-pulled-left mt-3">
            Firmware Version: <b>v{{version}}</b><br>
            Filesystem Version: <b>v{{fsversion}}</b>
          </small>
          <div class="has-text-right mt-2">
            <button :disabled="loadingSettings ? 'disabled' : null" class="button is-info" :class="{'is-loading': loadingSettings}" type="submit">Save Settings</button>
          </div>
        </form>
        <div class="columns is-multiline mt-4 is-mobile mb-0">
          <div class="column is-4">
            <div class="mode-link" :disabled="loadingSettings ? 'disabled' : null" :class="{'is-active': mode === 0}">
              <div class="has-text-centered"><a  @click="setMode('word_clock')" ><img src="/img/word_clock.svg" /></a></div>
              <p class="has-text-centered">Woord Klok</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="mode-link" :disabled="loadingSettings ? 'disabled' : null" :class="{'is-active': mode === 1}">
              <div class="has-text-centered"><a  @click="setMode('digital_clock')" ><img src="/img/digital_clock.svg" /></a></div>
              <p class="has-text-centered">Digitale Klok</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="mode-link" :disabled="loadingSettings ? 'disabled' : null" :class="{'is-active': mode === 2}">
              <div class="has-text-centered"><a  @click="setMode('rainbow')" ><img src="/img/rainbow.png" /></a></div>
              <p class="has-text-centered">Regenboog</p>
            </div>
          </div>
        </div>
        <div class="tabs is-centered is-medium" v-if="mode !== 2">
          <ul>
            <li :class="{'is-active': colorType === 'time'}" @click="colorType = 'time'"><a>Tijd</a></li>
            <li v-if="clockLayout && clockLayout.includes('*')" :class="{'is-active': colorType === 'name'}" @click="colorType = 'name'"><a>Naam/Foto</a></li>
            <li v-if="clockLayout && clockLayout.includes('&')" :class="{'is-active': colorType === 'icon'}" @click="colorType = 'icon'"><a>Tekens</a></li>
          </ul>
        </div>
        <div id="picker" v-show="!loading && mode !== 2"></div>
        <div v-show="loading">Loading..</div>
      </div>
    </section>
  </div>
  <script>
    const { createApp, ref, onMounted, watch } = Vue;
    function throttle(f, delay = 50) {
      let lastCall = Number.NEGATIVE_INFINITY;
      let wait;
      let handle;
      return (...args) => {
        wait = lastCall + delay - Date.now();
        clearTimeout(handle);
        handle = setTimeout(() => {
          f(...args);
          lastCall = Date.now();
        }, wait);
      };
    }
    let colorPicker;
    let tabChange = false;
    const baseUrl = '';

    createApp({
      setup() {
        const colorType = ref('time');
        const loading = ref(false);
        const loadingSettings = ref(false);
        const loadingBrightness = ref(false);
        const showSettings = ref(false);
        const brightness = ref();
        const nightmodeBrightness = ref(); 
        const nm = ref();
        const nm_end = ref();
        const nm_start = ref();
        const mode = ref();
        const clockWidth = ref();
        const clockHeight = ref();
        const clockLayout = ref();
        const version = ref();
        const fsversion = ref();
        const timezone = ref('CET-1CEST,M3.5.0,M10.5.0/3');

        const getSettings = async () => {
          try {
            loadingSettings.value = true;
            const response = await fetch(baseUrl + '/api/settings');
            const result = await response.json();
            mode.value = result.mode;
            clockWidth.value = result.clock_width;
            clockHeight.value = result.clock_height;
            clockLayout.value = result.clock_layout;
            version.value = result.version;
            fsversion.value = result.fsversion;
            brightness.value = result.brightness;
            nightmodeBrightness.value = result.nm_brightness;
            nm.value = !!result.nm;
            nm_start.value = result.nm_start_h.toString().padStart(2, '0') + ":" + result.nm_start_m.toString().padStart(2, '0');
            nm_end.value = result.nm_end_h.toString().padStart(2, '0') + ":" + result.nm_end_m.toString().padStart(2, '0');
            timezone.value = result.timezone;
          } catch (e) {
            alert('Could not retrieve settings');
            console.error(e);
          }
          loadingSettings.value = false;
        }
        const setMode = async (newMode) => {
          try {
            loadingSettings.value = true;
            const response = await fetch(baseUrl + '/api/mode', {
              method: 'POST',
              body: newMode
            })
            const result = await response.json();
            mode.value = result;
          } catch (e) {
            alert('Could not change mode');
            console.error(e);
          }
          loadingSettings.value = false;
        }

        const saveSettings = async () => {
          try {
            loadingSettings.value = true;
            const response = await fetch(baseUrl + '/api/settings', {
              method: 'POST',
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                nm: !!nm.value,
                nm_start_h: parseInt(nm_start.value.split(":")[0]),
                nm_start_m: parseInt(nm_start.value.split(":")[1]),
                nm_end_h: parseInt(nm_end.value.split(":")[0]),
                nm_end_m: parseInt(nm_end.value.split(":")[1]),
                timezone: timezone.value,
              })
            });
            const result = await response.json();
            showSettings.value = false;
          } catch (e) {
            alert('Could not save settings');
            console.error(e);
          }
          loadingSettings.value = false;
        }
        const getColor = async (type) => {
          try {
            loading.value = true;
            const response = await fetch(baseUrl + '/api/color?type=' + type);
            const color = '#' + (await response.json()).toString(16).padStart(6, '0');
            if (!colorPicker) {
              colorPicker = new window.iro.ColorPicker("#picker", {
                // Set the size of the color picker
                width: 300,
                // Set the initial color to pure red
                color: color,
                layout: [
                  {
                    component: iro.ui.Wheel,
                  },
                  { 
                    component: window.iro.ui.Slider,
                    options: {
                      // can also be 'saturation', 'value', 'red', 'green', 'blue', 'alpha' or 'kelvin'
                      sliderType: 'value'
                    }
                  },
                ]
              });
              colorPicker.on('color:change', throttle(async function (color) {
                if (!tabChange) {
                  try {
                    const response = await fetch(baseUrl + '/api/color?type=' + colorType.value, {
                      method: 'POST',
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(color.rgb)
                    })
                    const result = await response.json();
                  } catch (e) {
                    alert('Could not save color');
                    console.error(e);
                  }
                } else {
                  tabChange = false;
                }

              }, 200));
            } else {
              tabChange = true;
              colorPicker.color.set(color);
            }
          } catch (e) {
            console.error(e);
          }
          loading.value = false;
        }

        const saveBrightness = async (nightmode = false) => {
          try {
            loadingBrightness.value = true;
            const response = await fetch(baseUrl + '/api/brightness?type=' + (nightmode ? 'nightmode' : 'global'), {
              method: 'POST',
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(parseInt(nightmode ? nightmodeBrightness.value : brightness.value))
            });
            const result = await response.json();
          } catch (e) {
            alert('Could not save brightness');
            console.error(e);
          }
          loadingBrightness.value = false;
        }
        watch(colorType, async (newType) => {
          getColor(newType);
        })
        getSettings();
        onMounted(() => {
          getColor(colorType.value);
        })
        return {
          colorType,
          showSettings,
          nm,
          nm_start,
          nm_end,
          brightness,
          nightmodeBrightness,
          loading,
          loadingSettings,
          loadingBrightness,
          saveSettings,
          saveBrightness,
          mode,
          setMode,
          clockWidth,
          clockHeight,
          clockLayout,
          version,
          fsversion,
          timezone
        }
      }
    }).mount('#app')
  </script>
</body>

</html>
